* {
  text-align: center;
}

ul {
  padding: 0;
  border-collapse: collapse;
}

.list-wrap {
  margin-bottom: 0;
}

.titleBar{
  height: 50px;
  display: flex;
}

.bname {
  padding-left: 120px;
}

.bage {
  padding-left: 50px;
  padding-right: 30px;
}

.btitle {
  padding-left: 50px;
  padding-right: 40px;
}

.bphone {
  padding-left: 50px;
  padding-right: 70px;
}

.bemail {
  padding-left: 50px;
  padding-right: 120px;
}

.breport {
  padding-left: 10px;
  padding-right: 60px;
}


.home-container {
  margin: 20px auto;
  /* overflow: scroll; */
  width: 1000px;
  max-height: 550px;
  border: 1px solid lightgrey;
}

.list {
  list-style: none;
  display: flex;
  height: 100px;
  padding: 20px;
  border: 1px solid grey;
  background-color: lightblue;
}

img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.li-mid {
  width: 100px;
  padding: 8px;
}

.li-reports-wrap{
  width: 100px;
  padding: 8px;
}

.li-reports {
  padding: 15px;
  font-size: 1.2em;
  color: rgb(71, 71, 240);
}

#li-arrow {
  position: relative;
  left: 25px;
  margin-top: 16px;
  font-size: 25px;
  color: rgb(71, 71, 240);
}

.li-name {
  font-weight: 800;
  font-size: 20px;
}

.li-title-wrap{
  width: 100px;
  padding: 8px; 
}

.li-title {
  color: grey;
}

.li-age-wrap {
  width: 100px;
  padding: 8px; 
}

.li-age {
  font-weight: 800;
  font-size: 20px;
}

.li-phone-wrap{
  width: 200px;
  padding: 8px; 
}

.li-phone{
  font-weight: 400;
  font-size: 17px;
}

.li-email-wrap{
  width: 200px;
  padding: 8px; 
}

.li-email{
  font-weight: 400;
  font-size: 17px;
}

/* .li-manager-wrap{
  width: 200px;
  padding: 8px; 
}

.li-manager{
  font-weight: 400;
  font-size: 17px;
} */


.create-user {
  width: 400px;
  margin: 20px auto;
}

.detail-container {
  margin: 20px auto;
}

.list-detail{
  border: 1px solid grey;
  width: 500px;
  list-style-type: none;
  margin: 20px auto;
}

.list-detail li {
  border-top: 1px solid lightgray;
  min-height: 50px;
}

.list-detail h4 {
  color: seagreen;
  font-size: 20px;
  padding: 10px;
}

#block_container {
  text-align: center;
}

#block1, #block2{
  display: inline;
}

.title {
  font-family: 'Indie Flower', cursive;
}