* {
  text-align: center;
}

ul {
  padding: 0;
  border-collapse: collapse;
}

.list-wrap {
  margin-bottom: 0;
  max-height: 700px;
  overflow: auto;
}

.titleBar{
  height: 50px;
  display: flex;
}

.bname {
  padding-left: 110px;
  width: 220px;
}

.bage {
  /* padding-left: 50px; */
  width: 70px;
  text-align: center;
  /* padding-left: 20px;
  padding-right: 20px; */
}

.btitle {
  /* padding-left: 50px;
  padding-right: 40px; */
  text-align: center;
  width: 120px;
}

.bphone {
  /* padding-left: 50px;
  padding-right: 70px; */
  text-align: center;
  width: 180px;
}

.bemail {
  /* padding-left: 50px; */
  text-align: center;
  width: 220px;
  /* padding-right: 120px; */
}

.bmanager{
  /* padding-left: 10px;
  padding-right: 50px; */
  text-align: center;
  width: 140px;
}

.breport {
  /* padding-left: 10px;
  padding-right:30px; */
  width: 130px;
  text-align: center;
}

.bdetail {
  /* padding-left: 10px;
  padding-right: 10px; */
  text-align: center;
  width: 130px;
}
.bactions {
  /* padding-left: 30px;
  padding-right: 30px; */
  text-align: center;
  width: 140px

}
.home-container {
  margin: 20px auto;
  /* overflow: scroll; */
  width: 1350px;
  max-height: 550px;
  border: 1px solid lightgrey;
}

.list {
  list-style: none;
  display: flex;
  height: 100px;
  padding: 20px;
  border: 1px solid grey;
  background-color: lightblue;
}
.list:hover {
  background-color: rgb(182, 212, 212);
}

img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
/* .li-avatar {
  margin: 10px;
} */
.li-mid {
  width: 120px;
  padding: 8px;
}

.li-reports-wrap{
  width: 130px;
  padding: 8px;
}

.li-reports {
  /* padding: 15px; */
  text-align: center;
  font-size: 1.2em;
  color: rgb(71, 71, 240);
}
.li-details {
  width: 70px;
}
.li-delete{
  padding:12px;
  width: 90px;
}
.li-actions{
  width: 110px;
}
.li-actions button{
  margin: 10px 3px; 
}

.li-actions2{
  width: 140px;
}
.li-actions2 button{
  margin: 10px 3px;
}

#li-arrow {
  /* position: relative; */
  left: 25px;
  margin-top: 16px;
  font-size: 25px;
  color: rgb(71, 71, 240);
}

.li-name {
  font-weight: 800;
  font-size: 20px;
}

.li-title-wrap{
  width: 120px;
  padding: 10px; 
}

.li-title {
  color: black;
  font-size: 15px;
}

.li-gender-wrap {
  width: 80px;
  padding: 8px; 
}

.li-gender{
  font-weight: 400;
  font-size: 16px;
}
.li-age-wrap {
  /* width: 100px; */
  width: 80px;
  padding: 8px; 
}

.li-age {
  font-weight: 800;
  font-size: 20px;
}

.li-phone-wrap{
  width: 180px;
  padding: 8px; 
}

.li-phone{
  font-weight: 400;
  font-size: 17px;
}

.li-email-wrap{
  width: 220px;
  padding: 8px; 
}

.li-email{
  font-weight: 400;
  font-size: 17px;
}

.li-manager-wrap{
  /* width: 180px; */
  width: 140px;
  padding: 8px; 
}

.li-manager{
  font-weight: 400;
  font-size: 17px;
}

.li-manager a:hover{
  cursor: pointer;
}
.create-user {
  width: 400px;
  margin: 20px auto;
}

.detail-container {
  margin: 20px auto;
}

.list-detail{
  border: 1px solid grey;
  width: 500px;
  list-style-type: none;
  margin: 20px auto;
}

.list-detail li {
  border-top: 1px solid lightgray;
  min-height: 50px;
}

.list-detail h4 {
  color: seagreen;
  font-size: 20px;
  padding: 10px;
}

#block_container {
  text-align: center;
}

#block1, #block2{
  display: inline;
}

.title {
  font-family: 'Dancing Script', cursive;
}

.head {
  font-family: 'Dancing Script', cursive;
}

.createhead{
  font-family: 'Dancing Script', cursive;
}

.edetail{
font-family: 'Dancing Script', cursive;
}

.Direct{
  font-family: 'Dancing Script', cursive;
  }
  
.error{
  color: red;
}

.glyphicon{
  margin: auto 5px;
}

.form-control{
  height: 35px !important;
}

.custom-file-input, .custom-file-label,.custom-file-label::after {
  height: 35px !important;
}

.form-group{
  width:600px;
  background-color:rgb(202, 88, 202);
}

.btn-primary{
padding-left: 100px;
}

